.App {
  text-align: center;
}

.artist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
img {
  margin: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.fave-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.fave-artist {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid;
  padding: 10px;
  margin: 10px;
}